<html>
<head>
    <title>Metal Suggestor</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Metal Mania">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titan One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hanalei Fill">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nosifer">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chelsea Market"> -->
<style>
/* @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700); */

 
body{
    text-align: center; 
 background-color: #000000;
}
h1{
 font-family: Metal Mania;
    font-weight: bold;
    color: #65358b;
    font-size: 5em;
}

h2{
    font-family: Cambay;
    color: #1f498e;
}

p{
    font-family: Roboto; 
    color: #7793c2;
    
}
 
</style>
 


</head>
<body>
 {% block body %}{% endblock %}
 
</body>
</html>