{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<h1>Hello {{name}}!</h1>
  <h2>Try checking this BAND and try listening to their ALBUM: </h2>
  <p>
{{quote}}
  </p>
<!-- <img src="https://camo.githubusercontent.com/0cbb81598ef48d12263c3f5cecb2e0831b471042/687474703a2f2f692e696d6775722e636f6d2f6f51614b3575552e6a7067"> -->
<img src="/static/metal.png">

</div>
{% endblock %}